.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top */
}

.modal-content {
background: white;
    padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1001; /* Ensure the modal content is on top of the overlay */
  width: 500px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black; /* Ensure text color is visible */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-input {
  width: 100%; /* Make the input field take the full width of the modal */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-submit-button {
    font-size: 1.2em; /* Increase font size */
    padding: 15px 30px; /* Add padding */
    background-color: #e33fe2; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-top: 20px; /* Add margin to create space be*/
}

.modal-submit-button:hover {
  background-color: #ec76eb;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-header {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
color: #e33fe2}